<h1>Questions/Root Path</h1>
<div class="recent_questions">
  <h3>Recent Questions</h3>
  <ul>
    <% @recent_questions.each do |question| %>
      <li>
        <%= render partial: 'question', locals: {question: question} %>
      </li>
    <% end %>
  </ul>
</div>
<div class="popular_questions">
  <h3>Popular Questions</h3>
  <ul>
    <% @popular_questions.each do |question| %>
      <li>
       <%= render partial: 'question', locals: {question: question} %>
      </li>
    <% end %>
  </ul>
</div>
