<div class="votes answer_votes">
  <div class="upvote"></div>
  <%= @question.votes_total %>
  <div class="downvote"></div>
</div>

answered <%= answer.created_at %><br>
<div class="suggested_answer"><%= answer.content %> - <%= answer.user.username %></div>