<div class="answer_form">
  <%= form_tag question_answers_path(question) do %>
    <div class="content">
      <%= text_area(:answer, :content) %>
    </div>
    <%= submit_tag "Post Your Answer" %>
  <% end %>
</div>