/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

container {
  width: 900px;
  margin: auto;
}
a {
  color: #0c65a5;
}
#nav_links {
  float: right;
  padding-top: 10px;
  padding-right: 15px;
}

#nav_bar {
  border-style: solid;
  border-width: 2px;
}

#image {
  list-style-type: none;
}

#welcome {
  display: inline;
  padding-bottom: 10px;
  font-size: 50px;
}

.recent_questions, .popular_questions {
  width: 728px;
  margin: auto;
}

.popular_questions {
  margin-top: 30px
}

.question_summary {
  display: flex;
  padding: 12px 0 10px 0;
  border-bottom: 1px solid #e0e0e0;
  width: 728px;
  margin: auto;
}

.question_stats {
  min-width: 44px;
  height: auto;
  padding: 6px;
  text-align: center;
  float: left;
  margin-right: 10px;
  vertical-align: top;
}

.question_stat {
  display: inline-block;
  height: 38px;
  min-width: 38px;
  margin: 0 3px 0 0;
  font-size: 12px;
  color: #777;
  padding: 5px 5px 6px 5px;
}

.question_attributes {
  width: 530px;
  padding: 0;
}

.question_title {
  line-height: 1.3;
  margin-bottom: 1.2em;
  font-size: 16px;
  font-weight: 400;
}

.question_excerpt {
  padding: 0;
  padding-bottom: 5px;
  margin: 0;
  color: #444;
}

.question_creation {
  float: right;
}

.question_created_at {
  color: #999;
  line-height: 18px;
  font-size: 12px;
}

.question_creator {
  display: flex;
}

.creator_gravatar img {
  height: 32px;
  margin-right: 5px;
}
#error_box {
  color: red;
  border-style: dashed;
  border-width: 1px;
  width: 35%;
}

#questions_asked {
  list-style-type: none;
}

#answers_given {
  list-style-type: none;
}

