<div class="nav">
  <%= link_to 'Questions', questions_path %>
</div>

<div class="nav">
  <%= link_to 'Tags', tags_path %>
</div>

<div class="nav">
  <%= link_to 'Ask a Question', new_question_path %>
</div>